<!DOCTYPE html>
<html lang="en">
<head>
    <title>test</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap4/bootstrap.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap4/bootstrap.min.js"></script>
    <!--script src="/js/index.js"></script-->
</head>
<body>
<div class="codetitle">
<h1>title</h1>
</div>
<div>
                <ul>
                    {% if category == '' %}
                    <li><a href="/">index</a></li>    
                    {% else %}
                    <li><a href="/">index</a></li>
                    {% for i in category %}
                    <li><a href="/?tag={{i.tag}}">{{i.tag}}</a></li>
                    {% endfor %}
                    {% endif %}
                </ul>
</div>
<div class="codecontent">
{%  block content %}
    
{% endblock %}
</div>
</body>
</html>
